{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "openanonymiser.fullname" . }}
  annotations:
    {{- toYaml .Values.ingress.annotations | nindent 4 }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host }}
      http:
        paths:
          {{- $defaultPaths := list (dict "path" "/" "pathType" "Prefix") }}
          {{- range (default $defaultPaths .paths) }}
          - path: {{ .path | default "/" }}
            pathType: {{ .pathType | default "Prefix" }}
            backend:
              service:
                name: {{ include "openanonymiser.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}
          {{- end }}
    {{- end }}
  {{- /* Render TLS only when we have entries with a secretName to satisfy v1 schema */ -}}
  {{- $validTls := list -}}
  {{- range .Values.ingress.tls }}
  {{- if .secretName }}
  {{- $validTls = append $validTls . }}
  {{- end }}
  {{- end }}
  {{- if (gt (len $validTls) 0) }}
  tls:
    {{- toYaml $validTls | nindent 4 }}
  {{- end }}
{{- end }} 